@model List<Instructor> //id, Name, Image, Salary, Address, DeptId
@{

}
<div class="row">
    <div class="col-4">
        <a class="btn btn-primary" href="/Instructor/Add">Add New Instructor</a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Salary</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Instructor item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><img style="width:55px" src="/Images/@item.Image" /></td>
                <td>@item.Salary</td>
                <td>@item.Address</td>
                <td>
                    <a class="btn btn-warning" href="/Instructor/Details/@item.Id">Details</a>
                    <a class="btn btn-success" href="/Instructor/Add/@item.Id">Edit</a>
                    <a class="btn btn-danger" href="/Instructor/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>