@model Trainee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Student/Save">
    <label class="form-control" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <hr />
    <label class="form-control" asp-for="address"></label>
    <input class="form-control" asp-for="address" />
    <hr />
    <label class="form-control" asp-for="Image"></label>
    <select class="form-control" asp-for="Image">
        <option value="Unkown.png">--select--</option>
        <option value="male.png">Male</option>
        <option value="female.png">Female</option>
    </select>
    <hr />
    <label class="form-control" asp-for="Grade"></label>
    <select class="form-control" asp-for="Grade">
        <option value="0">--select--</option>
        <option value="1">First</option>
        <option value="2">Second</option>
        <option value="3">Third</option>
        <option value="4">Fourth</option>
    </select>
    <hr />
    <label class="form-control" asp-for="DeptId"></label>
    <select class="form-control" asp-for="DeptId">
        <option value="0">--select--</option>
        @foreach (var item in ViewBag.DeptIds)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <hr />
    <input type="hidden" asp-for="Id"/>
    <input class="form-control" type="submit" value="Submit" />
</form>
