@model List<Trainee> //id, Name, Image, Address, Grade, DeptId
@{
}
<div class="row">
    <div class="col-4">
        <a class="btn btn-primary" href="/Student/Add">Add New Student</a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Image</th>
            <th>Grade</th>
            <th>Address</th>
            <th>Dept Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img style="width:40px" src="/Images/@item.Image" /></td>
                <td>@item.Grade</td>
                <td>@item.address</td>
                <td>@item.DeptId</td>
                <td>
                    <a class="btn btn-warning" href="/Student/Details/@item.Id">Details</a>
                    <a class="btn btn-success" href="/Student/Add/@item.Id">Edit</a>
                    <a class="btn btn-danger" href="/Student/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>