@model Course // Id, Name, MinDegree, MaxDegree, DeptId, IctorId
@{
    SelectList DeptItems = new SelectList(ViewBag.DeptsIds, "Id", "Name");
    SelectList InctorItems = new SelectList(ViewBag.InctorsIds, "Id", "Name");
}
<h2>Add New Course</h2>

<form method="post" asp-action="Save">
    <label class="form-control" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <hr />
    <label class="form-control" asp-for="MinDegree"></label>
    <input class="form-control" asp-for="MinDegree"/>
    <span class="text-danger" asp-validation-for="MinDegree"></span>
    <hr />
    <label class="form-control" asp-for="MaxDegree"></label>
    <input class="form-control" asp-for="MaxDegree" />
    <span class="text-danger" asp-validation-for="MaxDegree"></span>
    <hr />
    <select class="form-control" asp-for="DeptId" asp-items="DeptItems">
        <option value="0">--Select Department</option>
    </select>
    <span class="text-danger" asp-validation-for="DeptId"></span>
    <hr />
    <select class="form-control" asp-for="IctorId" asp-items="InctorItems">
        <option value="0">--Select Instructor</option>
    </select>
    <span class="text-danger" asp-validation-for="IctorId"></span>
    <hr />
    <input type="hidden" asp-for="Id" />
    <input class="form-control" type="submit" value="Save"/>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}